@charset "UTF-8";
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn,
a.btn,
button.btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
  
    -webkit-transform-style: preserve-3d;
  
    transform-style: preserve-3d;
  }
  
  a.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 5px;
    height: 100%;
  
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
  
    background: #000;
  }
  
  a.btn-border:hover {
    color: #fff;
    background: #000;
  }
  
  a.btn-border:hover:before {
    background: #fff;
  }
  

h2{
    display: inline-block;
    padding:15px;
    padding-right: 450px;
    background: transparent;
    background-color: rgba(235, 234, 234, 0.637);
    border-left: solid 5px #7db4e6;
    font-family: sans-serif;
    font-size: 30px;
}
 

  #aboutv{
    display:inline;
    background: linear-gradient(transparent 70%, rgba(255, 234, 0, 0.872) 70%);
  }

#attacker{
    list-style:none;
    display:inline-block;
    margin:   0 16px   0   0;
    padding:15px;
    background-color:rgba(255, 0, 0, 0.783);
}

#difender{
    display: inline-block;
    list-style:none;
    margin:   10px 16px   0   0;
    padding:15px;
    background-color:rgba(0, 0, 255, 0.616)
    
}

#round{
    display: inline-block;
    position: relative;
    align-items: center;
    background-color:rgb(255, 255, 85);
    border-radius :10px;
    padding:5px
}
#round:before {
    position: absolute;
    left:-1px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #000;
    border-radius :10px;
  }
#a{
    font-size:1.15em;
    
}
#b{
    font-size: 20px;
}


.menu__item {
    background: #e33232;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1px;
    position: relative;
  }
  .menu__item__link {
    color: #fff;
    display: inline-block;
    padding: 1rem;
  }
   
  .submenu {
    background: #fff;
    display: none;
  }
  .submenu__item {
    border-bottom: 1px solid #e33232;
    color: #222;
    padding: 1rem;
  }

.box1{
    width:65%;
    padding: 0.5em 1em;
    margin: 0 ;
    background: rgba(247, 247, 247, 0.635);
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

html{
    padding-right: 50px;
    padding-left: 50px;
}

input{
    font-size:1.1em;
}

footer {
    padding: 18px 0;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222;
  }


