@charset "UTF-8";

th,td{
    border: 0.5px solid;
    padding: 5px
}

tr:nth-child(2n){
    background-color:rgb(174, 255, 217);
}

tr:nth-child(2n+1){
    background-color:rgb(238, 253, 249);
}

table{
    border-collapse: collapse;
}

a[href^="http"]{
           text-decoration: none;
}

a:hover{
    font-size: 1.25em;
}

a:visited{
    color:brown;
}

/* html{
    background-color:rgb(254, 245, 232);
}
     */

h1{
    display: inline;
     margin:   0 16px   0   0;
     padding: 4px;
     border-radius: 4px;
    background-color: aqua;
    
}

h2{
    display: inline;
    margin:   0 16px   0   0;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 20px;
   background-color: rgb(194, 255, 27);  
}

#valo{
    list-style:none;
}

#a{
    list-style:none
}
#b{
    list-style:none
}#c{
    list-style:none
}



#aa{
    display:inline-flex;
    align-items: center;
    background-color:rgb(255, 176, 85);
    border-radius :10px;
    padding-bottom:49px;
    padding-left: 3px;
    padding-right: 27px;
    padding-top:2px;
}

#bb{
    display:inline-flex;
    align-items: center;
    background-color:rgb(255, 85, 85);
    border-radius :10px;
    padding-bottom:49px;
    padding-left: 3px;
    padding-right: 56px;
    padding-top:2px;
}
#cc{
    display:inline-flex;
    align-items: center;
    background-color:rgb(255, 85, 218);
    border-radius :10px;
    padding-bottom:0;
    padding-left: 1px;
    padding-right: 5px;
    padding-top:3px;
    list-style:none;
}

#shaka{
    color:aqua;
    list-style: none;
}
#k4sen{
    color:aqua;
}
#kanae{
    color:aqua;
}
#kuzuha{
    color:aqua;
}