@charset "UTF-8";


a{ 
    text-decoration: none;
        padding:2px;
        border:0.2px solid;
}

h1{
    color:blue;
}

h2{
    display: inline;
    margin:   0 16px   0   0;
    padding:0 2.5px;
    background-color:yellow;
}


#about{
    display: inline;
    margin:   0 16px   0   0;
    padding:0 2.5px;
    background-color:aquamarine;
}
